.Header{
    max-width: 100%;
    height: 62px;
    padding: 3px 10px 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131A22;
}


.Header_lv1:hover{
    border: 1px solid white;
}
.Header_lv1{
    width: 115px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    background-color: #131A22;
    margin-right: 3px;
}
.Header_lv1-img{
      width: 90%;
      height: 90%;
}



.Header_lv2{
    width: 105px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.Header_lv2:hover{
    border: 1px solid white;
}
.Header_lv2-img{
   width: 10px;
   height: 15px;
}
.Header_lv2-text-1{
    color: #cdd4cb;
    font-size: 12px;
    font-weight: 400;
}
.Header_lv2-text-2{
    color: white;
    font-size: 15px;
    font-weight: 600;
}



.Header_lv3{
    width: 875px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}
.Header_lv3-btn{
    width: 45px;
    max-height: inherit;
    background-color: #fcb059;
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Header_lv3-btn-img{
    width: 23px;
    height: 23px;
}
.Header_lv3-Search{
    width: 732px;
}





.Header_lv3-All{
    width: 53px;
    max-height: inherit;
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
    background-color: #cdd4cb;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    position: relative;
}
.Header_lv3-All-Oxshasin{
    resize: none;
    display: none;
    top: 35px;
    left: 2px;
    width: 175px;
    height: 250px;
    position: absolute;
}
.Header_lv3-All:active > .Header_lv3-All-Oxshasin{
    display: inline;
}

.Header_lv3-All-text{
   font-size: 12px;
   font-weight: 400;
}
.Header_lv3-All-img{
   width: 10px;
   height: 7px;
   transform: rotate(180deg);
}
.Header_lv3-Camera{
    width: 45px;
    max-height: inherit;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Header_lv3-Camera-img{
    width: 25px;
    height: 25px;
}
.Header_lv3-Search-text{
    width: 720px;
    height: 40px;
    border: 0px;
    padding-left: 3px;
}




.Header_lv4{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;

}
.Header_lv4:hover{
    border: 1px solid white;
}
.Header_lv4-flag{
    width: 40%;
    height: 45%;
}
.Header_lv4-text{
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.Header_lv4-text-img{
    width: 10px;
    height: 9px;
    margin-top: 8px;
    transform: rotate(180deg);
    color: azure;
}



.Header_lv5{
    width: 125px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.Header_lv5:hover{
    border: 1px solid white;
}
.Header_lv5-sign{
    color: white;
    font-size: 12px;
    font-weight: 500;
}
.Header_lv5-acount{
    color: white;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}
.Header_lv5-acount-img{
    width: 9px;
    height: 8px;
    display: flex;
    transform: rotate(180deg);
   
}



.Header_lv6{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Header_lv6:hover{
    border: 1px solid white;
}
.Header_lv6-text{
    color: white;
    font-size: 13px;
    font-weight: 400;
}
.Header_lv6-text2{
    color: white;
    font-size: 15px;
    font-weight: 600;
}




.Header_lv7{
    width: 85px;
    height: 50px;
    display: flex;
    position: relative;
    align-items: flex-end;
}
.Header_lv7:hover{
    border: 1px solid white;
}
.Header_lv7-img{
    width: 70px;
    height: 45px;
}
.Header_lv7-raqam{
    left: 26px;
    color: #d37523;
    font-weight: 500;
    top: 5px;
    position: absolute;
}
.Header_lv7-text{
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: end;
}









.Header_lv5:hover > .RozmatAka_Kaara_collab-sign{
    display: inline;
}
.RozmatAka_Kaara_collab-sign{
    width: 500px;
    height: 380px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    display: none;
    top: 57px;
    right: -68px;

}
.RozmatAka_Kaara_collab-sign-top{
    width: 100%;
    height: 85px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
}
.RozmatAka_Kaara_collab-sign-top-btn{
    width: 225px;
    height: 35px;
    background-color: #ffd11a;
    margin-top: 18px;
    margin-bottom: 7px;
    border-radius: 10px;
    border: 0px;
    font-size: 12px;
    font-weight: 400;

}
.RozmatAka_Kaara_collab-sign-top-btn:hover{
    text-decoration: underline solid rgb(255, 115, 27);
}
.RozmatAka_Kaara_collab-sign-top-Nega{
   width: 17px;
   height: 17px;
   background-color: white;
   position: absolute;
   transform: rotate(45deg);
   right: 75px;
   bottom: 75px;


}
.RozmatAka_Kaara_collab-sign-top-wrapper{
    display: flex;
    background-color: white;
    gap: 3px;
    align-items: center;
    justify-content: center;
    margin-top: 3px;


}
.RozmatAka_Kaara_collab-sign-top-wrapper-text{
    background-color: white;
    font-size: 11px;
    font-weight: 400;
}
.RozmatAka_Kaara_collab-sign-top-wrapper-link{
    text-decoration: none;
    background-color: white;
}
.RozmatAka_Kaara_collab-sign-top-wrapper-link-text{
    font-size: 12px;
    color: black;
    background-color: white;
    font-weight: 400;
}
.RozmatAka_Kaara_collab-sign-top-wrapper-link-text:hover{
   color: orange;
   text-decoration: underline solid orange;
}
.RozmatAka_Kaara_collab-sign_bottom{
    display: flex;
    flex-direction: row;
}
.RozmatAka_Kaara_collab-sign_bottom-right{
  width: 250px;
  height: 295px;
  background: white;
  padding-left: 10px;
  padding-top: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.RozmatAka_Kaara_collab-sign_bottom-right-text{
    margin-bottom: 3px;
    background-color: white;
}
.RozmatAka_Kaara_collab-sign_bottom-right-text:hover{
    color: orange;
    text-decoration: underline solid orange;
}
.RozmatAka_Kaara_collab-sign_bottom-right-h1{
    background-color: white;
    font-size: 24px;
    margin-bottom: 7px;
}
.RozmatAka_Kaara_collab-sign_bottom-left{
    width: 250px;
    height: 295px;
    padding-left: 15px;
    padding-top: 5px;
    background: white;
}